* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
}

.App {
  min-width: 80vw;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  padding: 10px 0;
}

.selectLang {
  min-width: 280px;
  padding: 7px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 80px;
  background-color: antiquewhite;
}
select {
  margin-left: 5px;
  padding: 4px;
  font-size: 15px;
}

.textarea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 400px;
  background-color: aqua;
}
textarea {
  min-width: 300px;
  border-radius: 10px;
  min-height: 350px;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid black;
}

.btn {
  text-align: center;
  background-color: aquamarine;
  
}
.btn button {
  margin: 10px 0px;
  padding: 10px 20px;
  font-size: 15px;
  border:2px solid darkgreen;

  cursor: pointer;
  border-radius: 10px;
  background-color: green;
}
